{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Equipment Management System{% endblock %}</title>
    <!-- Include any global CSS files here -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <!-- <li><a href="{% url 'home' %}">Home</a></li> -->
                <li><a href="{% url 'equipment_request' %}">Request Equipment</a></li>
                
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        <!-- Content specific to each page will be inserted here -->
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Equipment Management System. All Rights Reserved.</p>
    </footer>
    <!-- Include any global JS files here -->
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
